.custom-cursor__blend {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: translateZ(0);
}

.custom-cursor__circle {
  display: block;
  overflow: visible;
  transform-origin: center center;
  shape-rendering: geometricPrecision;
}
